[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/simono41/PycharmProjects]
row=5
col=2

[/home/simono41/Repository]
row=1
col=2

[/home/simono41/Musik]
row=8
col=1

[/home/simono41/notes.txt]
row=1
col=1

[/home/simono41/Pictures]
row=7
col=1

[/home/simono41/Schreibtisch]
row=5
col=1

[/home/simono41/Templates]
row=4
col=1

[/home/simono41/Music]
row=3
col=0

[/home/simono41/Public]
row=6
col=1

[/home/simono41/Sync]
row=2
col=2

[/home/simono41/CLionProjects]
row=4
col=2

[/home/simono41/Desktop]
row=7
col=0

[/home/simono41/aur-builds]
row=2
col=1

[/home/simono41/Documents]
row=6
col=0

[/home/simono41/repos]
row=0
col=2

[/home/simono41/Downloads]
row=4
col=0

[/home/simono41/scripte]
row=0
col=1

[/home/simono41/Dokumente]
row=5
col=0

[/home/simono41/IdeaProjects]
row=3
col=2

[/home/simono41/Bilder]
row=8
col=0

[/home/simono41/Videos]
row=3
col=1

[Papierkorb]
row=0
col=0

[/]
row=1
col=0

[/home/simono41]
row=2
col=0

