file:///home/{{ .chezmoi.username }}/Bilder Bilder
file:///home/{{ .chezmoi.username }}/Dokumente Dokumente
file:///home/{{ .chezmoi.username }}/Downloads Downloads
file:///home/{{ .chezmoi.username }}/Musik Musik
file:///home/{{ .chezmoi.username }}/Public Public
file:///home/{{ .chezmoi.username }}/Videos Videos
