file://{{ .chezmoi.homeDir }}/Bilder Bilder
file://{{ .chezmoi.homeDir }}/Dokumente Dokumente
file://{{ .chezmoi.homeDir }}/Downloads Downloads
file://{{ .chezmoi.homeDir }}/Musik Musik
file://{{ .chezmoi.homeDir }}/Public Public
file://{{ .chezmoi.homeDir }}/Videos Videos
