###################
### MY PROGRAMS ###
###################

# See https://wiki.hyprland.org/Configuring/Keywords/

# Set programs that you use
$terminal = kitty
$fileManager = pcmanfm
$menu = fuzzel

#################
### AUTOSTART ###
#################

# Autostart necessary processes (like notifications daemons, status bars, etc.)
# Or execute your favorite apps at launch like this:

exec-once = [workspace 1 silent] $terminal
exec-once = nm-applet &
exec-once = blueman-applet &
exec-once = mako &
exec-once = waybar & hyprpaper
exec-once = [workspace 2 silent] firefox
exec-once = hypridle

# Bitwarden Window Floating
exec-once = ~/.config/hypr/scripts/bitwarden.sh

# Clipboard Manager

exec-once = wl-paste --type text --watch cliphist store # Stores only text data

exec-once = wl-paste --type image --watch cliphist store # Stores only image data

# machine-specific configuration
{{- if eq .chezmoi.hostname "sri-laptop-fedora" }}
exec-once = [workspace 3 silent] flatpak run com.github.IsmaelMartinez.teams_for_linux
{{- end }}
