###################
### MY PROGRAMS ###
###################

# See https://wiki.hyprland.org/Configuring/Keywords/

# Set programs that you use
$terminal = kitty
$fileManager = dolphin
$menu = fuzzel


#################
### AUTOSTART ###
#################

# Autostart necessary processes (like notifications daemons, status bars, etc.)
# Or execute your favorite apps at launch like this:

exec-once = $terminal
exec-once = nm-applet & blueman-applet
exec-once = waybar & hyprpaper & firefox
exec-once = hypridle

# Clipboard Manager

exec-once = wl-paste --type text --watch cliphist store # Stores only text data

exec-once = wl-paste --type image --watch cliphist store # Stores only image data

# machine-specific configuration
{{- if eq .chezmoi.hostname "sri-laptop-fedora" }}
exec-once = flatpak run com.github.IsmaelMartinez.teams_for_linux
{{- end }}
