[Desktop Entry]
Type=Application
Name=Start Vim in Wezterm
Exec=wezterm start vim %f
Categories=Other;
NoDisplay=false
Terminal=false
Icon=gvim
Categories=Utility;TextEditor;
StartupNotify=false
MimeType=text/x-log;text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
