# Setup fzf
# ---------
if [[ ! "$PATH" == */home/{{ .chezmoi.username }}/.fzf/bin* ]]; then
  PATH="${PATH:+${PATH}:}/home/{{ .chezmoi.username }}/.fzf/bin"
fi

# Auto-completion
# ---------------
[[ $- == *i* ]] && source "/home/{{ .chezmoi.username }}/.fzf/shell/completion.zsh" 2> /dev/null

# Key bindings
# ------------
source "/home/{{ .chezmoi.username }}/.fzf/shell/key-bindings.zsh"
