export LC_ALL=en_US.UTF-8

export PATH=/opt/homebrew/opt/ruby/bin:/opt/homebrew/lib/ruby/gems/3.0.0/bin:/usr/local/bin:$PATH

# Added by Toolbox App
export PATH="$PATH:/Users/{{ .chezmoi.username }}/Library/Application Support/JetBrains/Toolbox/scripts"


eval "$(/opt/homebrew/bin/brew shellenv)"
